@main("PlayConf 2014") {
    <section id="speakers" class="clear">
      <header>
        <h1>Speakers</h1>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt molli.</p>
        <a href="@routes.Application.newProposal()" class="button green">Submit your proposal</a>
      </header>
      <article>
        <ul>
          <li>
            <img src="assets/images/fake-speaker.png">
            <h2>Guillaume Bort</h2>
            <a href="#" class="twitter">@@guillaumebort</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>
        </ul>
      </article>
    </section>
    <section id="buzz" class="clear">
      <h1>Buzz</h1>
      <article>
        <div class="author">
          <img src="assets/images/fake-speaker.png">
          <h2>Guillaume Bort</h2>
          <a href="#" class="twitter">@@guillaumebort</a>
        </div>
        <div class="content">
          Le code de notre session live coding avec @@Sadache pour #DevoxxFR – <a href="https://github.com/">https://github.com/guillaumebort/devoxxfr2013</a>
        </div>
      </article>
      <article>
        <div class="author">
          <img src="assets/images/fake-speaker.png">
          <h2>Guillaume Bort</h2>
          <a href="#" class="twitter">@@guillaumebort</a>
        </div>
        <div class="content">
          Le code de notre session live coding avec @@Sadache pour #DevoxxFR – <a href="https://github.com/">https://github.com/guillaumebort/devoxxfr2013</a>
        </div>
      </article>
      <article>
        <div class="author">
          <img src="assets/images/fake-speaker.png">
          <h2>Guillaume Bort</h2>
          <a href="#" class="twitter">@@guillaumebort</a>
        </div>
        <div class="content">
          Le code de notre session live coding avec @@Sadache pour #DevoxxFR – <a href="https://github.com/">https://github.com/guillaumebort/devoxxfr2013</a>
        </div>
      </article>
      <article>
        <div class="author">
          <img src="assets/images/fake-speaker.png">
          <h2>Guillaume Bort</h2>
          <a href="#" class="twitter">@@guillaumebort</a>
        </div>
        <div class="content">
          Le code de notre session live coding avec @@Sadache pour #DevoxxFR – <a href="https://github.com/">https://github.com/guillaumebort/devoxxfr2013</a>
        </div>
      </article>
    </section>

    <section id="venue" class="clear">
      <!-- See the "145 W 44th St, New York, NY 10036" for the address -->
      <img src="http://maps.googleapis.com/maps/api/staticmap?size=495x280&amp;sensor=false&amp;maptype=roadmap&amp;zoom=15&amp;markers=size:mid%7Ccolor:black%7C145 W 44th St, New York, NY 10036">
      <h1>Venue</h1>
      <p>The HUDSON THEATRE<br>145 W 44th St, New York, NY 10036</p>
      <p><a class="button dark" href="#">Map</a></p>
    </section>
}
